<div class="container-fluid mt-3">
  <div class="text-center">
    <a [routerLink]="['social-login']" routerLinkActive="router-link-active"  class="badge badge-primary">Social Login</a>
    <!-- <a href="#" class="badge badge-secondary">Secondary</a>
    <a href="#" class="badge badge-success">Success</a>
    <a href="#" class="badge badge-danger">Danger</a>
    <a href="#" class="badge badge-warning">Warning</a>
    <a href="#" class="badge badge-info">Info</a>
    <a href="#" class="badge badge-dark">Dark</a> -->
  </div>
</div>
<router-outlet></router-outlet>

