<div class="container-fluid mt-3">
  <div class="text-center">
    <a [routerLink]="['social-login']" routerLinkActive="router-link-active"  class="badge badge-primary">Social Login</a>
    <a [routerLink]="['queue-requests']" routerLinkActive="router-link-active"  class="badge badge-secondary">Queue-Requests</a>
    <a [routerLink]="['dsm']" routerLinkActive="router-link-active"  class="badge badge-success">Dsm Dynamic Loading</a>
    <a [routerLink]="['demo-store']" routerLinkActive="router-link-active"  class="badge badge-danger">Demo Store</a>
    <!--<a href="#" class="badge badge-warning">Warning</a>
    <a href="#" class="badge badge-info">Info</a>
    <a href="#" class="badge badge-dark">Dark</a> -->
  </div>
</div>
<router-outlet></router-outlet>

<div id="circle">

</div>
